.banner{
    background-image: url("../media/pictures/titlepage.jpg");
    overflow: hidden;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 100%;
}

.banner h1,h2{
    background-color: rgba(0,0,0, 0.75);
    margin: 0 auto;
    text-align: center;
    font-size: xxx-large;
    color: white;
}

h2{
    font-size: x-large;
}

#textbox{
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
}