.itemContent{
    width: 100%;
    height: auto;
    justify-content: space-between;
    padding: 2em 5em 2.5em 5em;
}

.itemContent a:hover{
    color: #7d7d7d;
}

#itemPictureIMG{
    max-height: 100%;
    max-width: 100%;
    width: auto;
    height: auto;
    zoom: 5;
    position: absolute;
    margin: auto;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border-radius: .1rem;
}

#inputMenge{
    width: 2.5em;
    margin: 0 .1em 0 1em;
    -moz-appearance: textfield;
    box-sizing: border-box;
    border: 1.5px solid #ccc;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    outline: none;
    background-color: white;
}

#inputMenge::-webkit-outer-spin-button,
#inputMenge::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.itemPicture{
    width: 50%;
    /*background-color: blue;*/
    height: 30em;
    z-index: 0;
    position: relative;

    cursor: zoom-in;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
}

.itemDescriptionContainer{
    width: 45%;
    /*background-color: green;*/
}

.bigPicture{
    width: 95%;
    height: 95%;
    padding: 0;
    position: fixed;
    z-index: 1200;
    top: 2.5%;
    left: 2.5%;
    cursor: zoom-out;
}

.disappear{
    display: none;
}

.star{
    height: 2em;
    width: 2em;
}

@media (max-width: 800px) {
    .bigPicture{
        left: 2.5%;
    }

    .itemContent{
        padding: 6rem 0 0 2rem;
        flex-direction: row;
    }

    .itemPicture{
        width: 90%;
        height: 20em;
    }

    .itemDescriptionContainer{
        width: 90%;
        margin-top: 2em;
    }
}