#benutzername{
    background-image: url('../media/icons/user.svg') !important;
}

#passwort{
    background-image: url('../media/icons/key.svg') !important;
}

#crossLink{
    color: green;
}

#crossLink:hover{
    text-decoration: underline;
}