table td:nth-child(2){
    text-align: right;
}

table{
    width: 20em;
}

#buttonsContext{
    padding-top: 2em;
}

#logoutBTN{
    color: red;
}

.content a:hover{
    text-decoration: underline;
}

.content h2{
    margin-top: 1.5em;
    margin-bottom: .5em;
}

.editInfo{
    height: 0.8em;
    width: 0.8em;
    margin-bottom: -.12em;
    margin-left: .1em;
    cursor: pointer;
}