#vorname{
    background-image: url('../media/icons/passport.svg') !important;
}

#nachname{
    background-image: url('../media/icons/passport.svg') !important;
}

#strasse{
    background-image: url('../media/icons/strasse.svg') !important;
}

#stadt{
    background-image: url('../media/icons/town.svg') !important;
}

#plz{
    background-image: url('../media/icons/hashtag.svg') !important;
}

#iban{
    background-image: url('../media/icons/card.svg') !important;
}

#bic{
    background-image: url('../media/icons/bank.svg') !important;
}

#benutzername{
    background-image: url('../media/icons/user.svg') !important;
}

#email{
    background-image: url('../media/icons/email.svg') !important;
}

#passwort{
    background-image: url('../media/icons/key.svg') !important;
}

#passwortWiederholung{
    background-image: url('../media/icons/key.svg') !important;
}
